{{ '2nd-carroussel-nike.css' | asset_url | stylesheet_tag }}


<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img class="swipper-img" src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/ISSUE_9_SPORT-2_copie.jpg?v=1672072322"></div>
        <div class="swiper-slide"><img class="swipper-img" src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/ISSUE_9_SPORT-6_copie.jpg?v=1672072324"></div>
        <div class="swiper-slide"><img class="swipper-img" src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/ISSUE_9_SPORT-4_copie.jpg?v=1672072324"></div>
        <div class="swiper-slide"><img class="swipper-img" src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/ISSUE_9_SPORT-5_copie.jpg?v=1672072324"></div>
        <div class="swiper-slide"><img class="swipper-img" src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/ISSUE_9_SPORT-3_copie.jpg?v=1672072325"></div>
        <div class="swiper-slide"><img class="swipper-img" src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/ISSUE_9_SPORT-3_copie.jpg?v=1672072325"></div>
        <div class="swiper-slide"><img class="swipper-img" src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/ISSUE_9_SPORT-3_copie.jpg?v=1672072325"></div>
        <div class="swiper-slide"><img class="swipper-img" src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/ISSUE_9_SPORT-3_copie.jpg?v=1672072325"></div>
        <div class="swiper-slide"><img class="swipper-img" src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/ISSUE_9_SPORT-3_copie.jpg?v=1672072325"></div>
        <div class="swiper-slide"><img class="swipper-img" src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/ISSUE_9_SPORT-3_copie.jpg?v=1672072325"></div>
        <div class="swiper-slide"><img class="swipper-img" src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/ISSUE_9_SPORT-3_copie.jpg?v=1672072325"></div>
        <div class="swiper-slide"><img class="swipper-img" src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/ISSUE_9_SPORT-3_copie.jpg?v=1672072325"></div>
        <div class="swiper-slide"><img class="swipper-img" src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/ISSUE_9_SPORT-3_copie.jpg?v=1672072325"></div>
        <div class="swiper-slide"><img class="swipper-img" src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/ISSUE_9_SPORT-3_copie.jpg?v=1672072325"></div>
        <div class="swiper-slide"><img class="swipper-img" src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/ISSUE_9_SPORT-3_copie.jpg?v=1672072325"></div>
        <div class="swiper-slide"><img class="swipper-img" src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/ISSUE_9_SPORT-3_copie.jpg?v=1672072325"></div>
        <div class="swiper-slide"><img class="swipper-img" src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/ISSUE_9_SPORT-3_copie.jpg?v=1672072325"></div>
        <div class="swiper-slide"><img class="swipper-img" src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/ISSUE_9_SPORT-3_copie.jpg?v=1672072325"></div>
        <div class="swiper-slide"><img class="swipper-img" src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/ISSUE_9_SPORT-3_copie.jpg?v=1672072325"></div>
        <div class="swiper-slide"><img class="swipper-img" src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/ISSUE_9_SPORT-3_copie.jpg?v=1672072325"></div>
        <div class="swiper-slide"><img class="swipper-img" src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/ISSUE_9_SPORT-3_copie.jpg?v=1672072325"></div>
        <div class="swiper-slide"><img class="swipper-img" src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/ISSUE_9_SPORT-3_copie.jpg?v=1672072325"></div>
        <div class="swiper-slide"><img class="swipper-img" src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/ISSUE_9_SPORT-3_copie.jpg?v=1672072325"></div>
        <div class="swiper-slide"><img class="swipper-img" src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/ISSUE_9_SPORT-3_copie.jpg?v=1672072325"></div>
        <div class="swiper-slide"><img class="swipper-img" src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/ISSUE_9_SPORT-3_copie.jpg?v=1672072325"></div>
        <div class="swiper-slide"><img class="swipper-img" src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/ISSUE_9_SPORT-3_copie.jpg?v=1672072325"></div>
        <div class="swiper-slide"><img class="swipper-img" src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/ISSUE_9_SPORT-3_copie.jpg?v=1672072325"></div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <div class="marquee">
    <ul class="marquee-content">
      <li><i class="fab"><img src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Plan_de_travail_1.png?v=1672332960"></i></li>
      <li><i class="fab"><img src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Plan_de_travail_2.png?v=1672333857"></i></li>
      <li><i class="fab"><img src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Plan_de_travail_3.png?v=1672334002"></i></li>
      <li><i class="fab"><img src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Plan_de_travail_4.png?v=1672334146"></i></li>
      <li><i class="fab"><img src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Plan_de_travail_5.png?v=1672334354"></i></li>
      <li><i class="fab"><img src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Plan_de_travail_7.png?v=1672334629"></i></li>
      <li><i class="fab"><img src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Plan_de_travail_0.png?v=1672334756"></i></li>
      <li><i class="fab"><img src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Plan_de_travail_10.png?v=1672334850"></i></li>
      <li><i class="fab"><img src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Plan_de_travail_9.png?v=1672334976"></i></li>
    </ul>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: "auto",
      spaceBetween: 30,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });


    const root = document.documentElement;
      const marqueeElementsDisplayed = getComputedStyle(root).getPropertyValue("--marquee-elements-displayed");
      const marqueeContent = document.querySelector("ul.marquee-content");
      
      root.style.setProperty("--marquee-elements", marqueeContent.children.length);
      
      for(let i=0; i<marqueeElementsDisplayed; i++) {
        marqueeContent.appendChild(marqueeContent.children[i].cloneNode(true));
      }
  </script>

  {% schema %}
    {
    "name": "2nd-caroussel-nike",
    "settings": [],
    "presets": [
    {
    "name": "2nd-caroussel-nike",
    "category": "ADVANCED LAYOUT"
    }
    ]
    }
    {% endschema %}
    {% stylesheet %} 
    {% endstylesheet %}
    {% javascript %}


    {% endjavascript %}