<!-- Welcome section starts -->
<section class="welcome">
  <a class="white-basket" href="https://argentikmag.fr/cart">
  <img class="white-sketba" src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/white-cart.svg?v=1662226510">
</a> 
  <div class="contact" id="contacttt">
    <div class="middle-contact">
      <div class="centerh">
        <h3 class="ak"><a href="https://www.instagram.com/argentikmag/?hl=fr" target="_blank" >@argentikmag</a></h3>
         <h3><a href="">argentikmag.fr</a></h3>
        <h3 class="ak" id="akk"><a class="ak" href="mailto:argentikmag@gmail.com">argentikmag@gmail.com</a></h3>
        <h3><img class="hitman" src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Frame.svg?v=1661604479"></h3>
      </div>
    </div>
  </div>
</section>
<!-- Welcome section ends -->
{% schema %}
{
"name": "custom-contact",
"settings": [],
"presets": [
{
"name": "custom-contact",
"category": "ADVANCED LAYOUT"
}
]
}
{% endschema %}
{% stylesheet %}

  
{% endstylesheet %}
{% javascript %}

  
   
{% endjavascript %}