<!-- Welcome section starts -->
<section class="welcome">
  <a class="white-basket" href="https://argentikmag.fr/cart">
  <img class="white-sketba" src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/white-cart.svg?v=1662226510">
</a> 
<div class="flex-container">
<div class="left">
<div class="bloc-about">
 <h3 class="sub-about">
<p>
   C’est l’histoire d’une société de l’instantané, où le quotidien de chaque individu est rythmé par un interminable feed, scrollé en continu.
Une société de l’abondance numérique où, par peur de louper quelque chose, on regarde tout sans vraiment voir quoi que ce soit.
</p>

<p>
Face à cette saturation de l’information, la lutte contre le diktat des algorithmes s’organise. Les comportements évoluent et nous sommes
de plus en plus à reconsidérer notre manière de consommer du contenu. C’est de cette remise en question que naîtra le premier fanzine 
ARGENTIK en 2017, guidé par une devise qui aujourd’hui encore anime ses créateurs : classifier un univers de manière collective.
</p>

<p>
Ce retour aux sources constitue l’essence-même d’Argentik, qui souhaite fédérer sous une même bannière acteurs et passionnés du 
monde analogique. Ceux qui pensent que cette démarche ne doit pas être vue comme une régression, mais plutôt comme une prise de conscience.
</p>

<p>  
Privilégier le support physique, c’est se donner le temps de comprendre et d’analyser, ce qui influe inévitablement sur la perception de l’oeuvre. Mais privilégier le support physique, c’est également être à contre-courant face au règne de l’immédiateté, inhérent à notre époque.
La beauté du format argentique, c’est son analogie à la vie. Un art qui célèbre les imperfections, où même l’erreur a sa place puisqu’elle est capable de sublimer un cliché. </h3>
</p>
</div>
</div>

  


<div class="right-content">
  <div class="fixed">
  <img src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Group.png?v=1661545492" class="right-img">
</div>

</div>
</div>
  
</section>
<!-- Welcome section ends -->
{% schema %}
{
"name": "custom-about",
"settings": [],
"presets": [
{
"name": "custom-about",
"category": "ADVANCED LAYOUT"
}
]
}
{% endschema %}
{% stylesheet %}



  
{% endstylesheet %}
{% javascript %}


{% endjavascript %}