<!-- Welcome section starts -->
<section class="welcome">
<a class="white-basket" href="https://argentikmag.fr/cart">
  <img class="white-sketba" src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/white-cart.svg?v=1662226510">
</a> 
<div class="container">

<div class="flexmag-estside">
<div class="mag">
  <img class="issue9" id="issue-display" src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/magzer.png?v=1662363587">
</div>

<div class="est-side" id="est-side" />  
<div class="title">
<h3 class="sub-home"> Issue 9  <span class="title-issue">'SPORT'</span></h3><img class="logo-mobile" src="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/minilogo.png?v=1661084844" > 
</div>
 <div class="collab">
   <div class="title-collab">
     <h3 class="sub-home"> Collaborateurs </h3>
   </div>
  <div class="container-items" id="d1">
					<div class="container-img-wrap">
						<div class="container-img"></div>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/000617570012.jpg?v=1661958474">
							<h3 class="sub-home">Armor Amor</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/B001613-R1-07-8.jpg?v=1661959728">
							<h3 class="sub-home">Breton Agathe</h3>
						</a>
					</div>
					<div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/FAKE_ADS_GRAPHICS_-_5_1.png?v=1661960865">
							<h3 class="sub-home">Freeride World Tour</h3>

						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/18_FAV.jpg?v=1661960477">
							<h3 class="sub-home">Gobin Léa</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/PJ_michael-jordan.jpg?v=1661957049">
							<h3 class="sub-home">Jenikäe Filipp</h3>
						</a>
					</div>
                   <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Untitled_1.png?v=1661958356">
							<h3 class="sub-home">Latchoumanaya Helios</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/000048700008_1.png?v=1661958682">
							<h3 class="sub-home">Lefort Enzo</h3>
						</a>
					</div>
                   
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/FAV_1_1_1_ce97bcb7-bbec-420c-9797-a562765ca490.png?v=1661959823">
							<h3 class="sub-home">Malandro Lyna</h3>
						</a>
					</div>
                     <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/000623090010.jpg?v=1662233681">
							<h3 class="sub-home">Matheron Lou</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Untitled_6_ee573ee5-c5ef-4b63-af4a-0e4e0405b674.jpg?v=1661960109">
							<h3 class="sub-home">Pagès Tom</h3>
						</a>
					</div>

					<div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/EtreinteHDbis_1.png?v=1661960752">
							<h3 class="sub-home">POWERUP</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Couv1.png?v=1661958352">
							<h3 class="sub-home">Sport-Étude</h3>
						</a>
					</div>
		
					<div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/IMG_6643_2_1.png?v=1661959989">
							<h3 class="sub-home">WWWESH STUDIO x De Massa Studio</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Credit_photo__Photography_by_Charlotte_Haulot.jpg?v=1661975100">
							<h3 class="sub-home">2 Speed Biking</h3>
						</a>
					</div>
        
				</div>
 </div> 


 <div class="contrib">
   <div class="title-contrib">
     <h3 class="sub-home"> Contributeurs </h3>
   </div>
  <div class="container-items" id="d1">
					<div class="container-img-wrap">
						<div class="container-img"></div>
					</div>
					<div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Ahodetor_Awo_Marlene.jpg?v=1661962637">
							<h3 class="sub-home">Ahodetor Awo Marlène</h3>

						</a>
					</div>
					<div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Andrianaivo_Maurane_3_1.png?v=1661962871">
							<h3 class="sub-home">Andrianaivo Maurane</h3>
						</a>
					</div>
					<div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Aragones-Yaniv-01_1.png?v=1661962994">
							<h3 class="sub-home">Aragones Yaniv</h3>
						</a>
					</div>
					<div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/ARRIGHI_JADE_2.jpg?v=1661963051">
							<h3 class="sub-home">Arrighi Jade</h3>
						</a>
					</div>
					<div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Baillet_Felix_2_1.png?v=1661963321">
							<h3 class="sub-home">Baillet Félix</h3>
						</a>
					</div>
					<div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/BALTI_SACHA_3.jpg?v=1661963460">
							<h3 class="sub-home">Balti Sacha</h3>
						</a>
					</div>
					<div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/BASNIER_Quentin_3_1.png?v=1661963604">
							<h3 class="sub-home">Basnier Quentin</h3>
						</a>
					</div>
					<div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Benoist_maxence_10_1.png?v=1661963792">
							<h3 class="sub-home">Benoist Maxence</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Bernatas_Hugo_8.jpg?v=1661973264">
							<h3 class="sub-home">Bernatas Hugo</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/SamirLeBabtou_14.jpg?v=1661973329">
							<h3 class="sub-home">Bouadla Samir</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Boulifa_Houssem.jpg?v=1661973417">
							<h3 class="sub-home">Boulifa Houssem</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Cancel_Charline_1_1.png?v=1661973556">
							<h3 class="sub-home">Cancel Charline</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Carbajal_Ulysse_6.jpg?v=1661973606">
							<h3 class="sub-home">Carbajal Ulysse</h3>
						</a>
					</div>
                     <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Cherpin_Thelma_6.jpg?v=1661973660">
							<h3 class="sub-home">Cherpin Thelma</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Clement_Alexandre_1_1.png?v=1661973862">
							<h3 class="sub-home">Clément Alexandre</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Collet_Paul_4_1.png?v=1661973994">
							<h3 class="sub-home">Collet Paul</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Courtine_Lucien_1.png?v=1661974080">
							<h3 class="sub-home">Courtine Lucien</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Cuagnier_Emma_6_1.png?v=1661974164">
							<h3 class="sub-home">Cuagnier Emma</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Cubel_Remi_10.jpg?v=1661974288">
							<h3 class="sub-home">Cubel Rémi</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Destuynder_Chloe_5.jpg?v=1661974383">
							<h3 class="sub-home">Destuynder Chloé</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Devisscher_Victor_2_1.png?v=1661974514">
							<h3 class="sub-home">Devisscher Victor</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/FEINSTEIN_RENAUDIN_FLORIAN_9.jpg?v=1661974583">
							<h3 class="sub-home">Feinstein Renaudin Florian</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Granier_Tom_7_1.png?v=1661974821">
							<h3 class="sub-home">Granier Tom</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/GUILLON_Aurele_1.jpg?v=1661974867">
							<h3 class="sub-home">Guillon Aurèle</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/HAREL_ROMAIN_1.jpg?v=1661974988">
							<h3 class="sub-home">Harel Romain</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Credit_photo__Photography_by_Charlotte_Haulot_1_1.png?v=1661960303">
							<h3 class="sub-home">Haulot Charlotte</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/HEILBRONN_MAX_6.jpg?v=1661975589">
							<h3 class="sub-home">Heilbronn Max</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Hidden_Justin_7_1.png?v=1661976543">
							<h3 class="sub-home">Hidden Justin</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Honde_Priscilla_3_1.png?v=1661976395">
							<h3 class="sub-home">Honde Priscilla</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Houel_Alix_2.jpg?v=1661975751">
							<h3 class="sub-home">Houel Alix</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Janand_Constance_5.jpg?v=1661975809">
							<h3 class="sub-home">Janand Constance</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Jourdain_Maximilien_4_1.png?v=1661976656">
							<h3 class="sub-home">Jourdain Maximilien</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Journeau_Nicolas_1_1.png?v=1661976300">
							<h3 class="sub-home">Journeau Nicolas & Gray John</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Jung_Niklas_1.jpg?v=1661975975">
							<h3 class="sub-home">Jung Niklas</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Kamm_Matthieu_8_1.png?v=1661976052">
							<h3 class="sub-home">Kamm Matthieu</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Le_Sommer_Adam_1.jpg?v=1661976826">
							<h3 class="sub-home">Le Sommer Adam</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Lemeunier_Maxime_1_1.png?v=1661977066">
							<h3 class="sub-home">Lemeunier Maxime</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Lenglume_Aude_5.jpg?v=1661977113">
							<h3 class="sub-home">Lenglumé Aude</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Litre_William_7.jpg?v=1661977173">
							<h3 class="sub-home">Litré William</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Longobardi_Yann_1.jpg?v=1661977231">
							<h3 class="sub-home">Longobardi Yann</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Lurol_Luzzie_5.jpg?v=1661977502">
							<h3 class="sub-home">Lurol Luzzie</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Maine_Baptiste_1.jpg?v=1661977659">
							<h3 class="sub-home">Maine Baptiste</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Maokhampio_Antoine1.jpg?v=1661977739">
							<h3 class="sub-home">Maokhampio Antoine </h3>
						</a>
					</div>
                        <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Mapouata_Coralie_7.jpg?v=1661977806">
							<h3 class="sub-home">Mapouata-Barlerin Coralie</h3>
						</a>
					</div>
                        <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Marinello_Quentin2_1.png?v=1661977906">
							<h3 class="sub-home">Marinello Quentin </h3>
						</a>
					</div>
                        <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Martel_lucie_1.jpg?v=1661977999">
							<h3 class="sub-home">Martel lucie</h3>
						</a>
					</div>

                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/MENARD_Pierre_7_1.png?v=1661978648">
							<h3 class="sub-home">Menard Pierre</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Mercier_Quentin_10.jpg?v=1661978702">
							<h3 class="sub-home">Mercier Quentin</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Michon_Baptiste_7.jpg?v=1661978777">
							<h3 class="sub-home">Michon Baptiste</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Mollet_Jacques_1.png?v=1661978849">
							<h3 class="sub-home">Mollet Jacques</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Fiona_Murray_2_1.png?v=1661979010">
							<h3 class="sub-home">Murray Fiona</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/NAYAGAM_ZORAN_05.jpg?v=1661979154">
							<h3 class="sub-home">Nayagam Zoran</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Palau_Eugenie_4.bmp?v=1661979240">
							<h3 class="sub-home">Palau Eugenie</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Palau_Eugenie_4.bmp?v=1661979240">
							<h3 class="sub-home">Piras Valentin</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Poche_Clement_1.jpg?v=1661979393">
							<h3 class="sub-home">Poché Clément</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Presle_Leo_2_1.png?v=1661979525">
							<h3 class="sub-home">Presle Léo</h3>
						</a>
					</div>
                  
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/RIGAUD_Sebastien_4.jpg?v=1661979675">
							<h3 class="sub-home">Rigaud Sébastien</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Rousseau_Gabriel_2.jpg?v=1661979763">
							<h3 class="sub-home">Rousseau Gabriel</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Russo_Valentin_9_1.png?v=1661979997">
							<h3 class="sub-home">Russo Valentin</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Salmon_Fanny_1_1.png?v=1661980088">
							<h3 class="sub-home">Salmon Fanny</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Sarun_Daryl_1.jpg?v=1661980147">
							<h3 class="sub-home">Sarun Daryl</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Singh_Sabi_7_1.png?v=1661980300">
							<h3 class="sub-home">Singh Sabi</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Tlili_Scheherazad_1.jpg?v=1661980406">
							<h3 class="sub-home">Tlili Schéhérazad</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Toilo_Damien_2.jpg?v=1661980558">
							<h3 class="sub-home">Troilo Damien</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Tordjman_jonathan_3.jpg?v=1661980457">
							<h3 class="sub-home">Tordjman Jonathan</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Vernede_Francis_11_1.png?v=1661980769">
							<h3 class="sub-home">Vernède Francis</h3>
						</a>
					</div>
                    <div class="item">
						<a href="#" class="container-item" data-img="https://cdn.shopify.com/s/files/1/0659/9062/3464/files/Zentner_Lena_1_1.png?v=1661980880">
							<h3 class="sub-home">Zentner Lena</h3>
						</a>
					</div>
                    
                   
				</div>
 </div> 



</div> 
</div>  
</div>
</section>
<!-- Welcome section ends -->
{% schema %}
{
"name": "good-list-custom",
"settings": [],
"presets": [
{
"name": "good-list-custom",
"category": "ADVANCED LAYOUT"
}
]
}
{% endschema %}
{% stylesheet %}

{% endstylesheet %}





{% javascript %}

 window.onload = function(){
     var elements = document.querySelectorAll('#d1 > div');
     for(var i=0; i<elements.length; i++)
     {
         elements[i].onmouseover = function(){
             document.querySelector('#issue-display' + this.id).style.opacity = '0';
         };
         elements[i].onmouseout = function(){
             document.querySelector('#issue-display' + this.id).style.opacity = '100';
         };
     }
 }

  const allcontainer = gsap.utils.toArray(".container-item");
		const venueImageWrap = document.querySelector(".container-img-wrap");
		const venueImage = document.querySelector(".container-img");

		function initcontainer() {
			allcontainer.forEach((link) => {
				link.addEventListener("mouseenter", venueHover);
				link.addEventListener("mouseleave", venueHover);
				link.addEventListener("mousemove", moveVenueImage);
			});
		}

		function moveVenueImage(e) {
			let xpos = 100;
			let ypos = 100;
			const tl = gsap.timeline();
			tl.to(venueImageWrap, {
				x: xpos,
				y: ypos,
			});
		}

		function venueHover(e) {
			if (e.type === "mouseenter") {
				const targetImage = e.target.dataset.img;

				const tl = gsap.timeline();
				tl.set(venueImage, {
					backgroundImage: `url(${targetImage})`,
				}).to(venueImageWrap, {
					duration: 0.5,
					autoAlpha: 1,
				});
			} else if (e.type === "mouseleave") {
				const tl = gsap.timeline();
				tl.to(venueImageWrap, {
					duration: 0.5,
					autoAlpha: 0,
				});
			}
		}

		function init() {
			initcontainer();
		}

		window.addEventListener("load", function () {
			init();
		});

		tl = new TimelineMax();

		tl.from(".navbar > div", 1.6, {
			opacity: 0,
			y: 60,
			ease: Expo.easeInOut,
			delay: 0.6,
		});

		tl.from(
			".site-logo",
			1.6,
			{
				opacity: 0,
				y: 40,
				ease: Expo.easeInOut,
			},
			"-=1.6"
		);

		tl.staggerFrom(
			".site-menu > div",
			1,
			{
				opacity: 0,
				y: 60,
				ease: Power2.easeOut,
			},
			0.2
		);

		tl.staggerFrom(
			".header > div",
			1,
			{
				opacity: 0,
				y: 60,
				ease: Power2.easeOut,
				delay: -1.4,
			},
			0.2
		);
{% endjavascript %}