.totals {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width:fit-content;
  right:25px;
}

.totals > * {
  font-size: 1.6rem;
  margin: 0;
}
@media screen and (min-width: 310px) and (max-width: 749px){

  .totals {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom:4vh;
} 

.totals__subtotal-value{
  font-size:20px;
}
  
  .totals > h2 {
    font-size: 20px;
    font-family: HelveticaNeueBold;
    font-weight: 400;
    font-style: normal;
    color: #000;
    line-height: 17px;
    letter-spacing: -.03vw;
    width: max-content;
}

  .cart__footer {
    padding: 1rem 0 0;
    display: flex;
    justify-content: center;}

  .cart__footer>div:only-child {
    margin-left: 0;
}

.cart__ctas button {
    width: 92vw;
}
  
 .cart__checkout-button{
    max-width: 40rem;
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
    line-height: calc(1 + .8 / var(--font-body-scale));
    font-family: Druk;
    margin: 0;
    margin-bottom: -1.5vh;
 }
}


.totals > h2 {
    font-size: 20px;
    font-family: HelveticaNeueBold;
    font-weight: 400;
    font-style: normal;
    color: #000;
    line-height: 17px;
    letter-spacing: -.03vw;
    width: max-content;
}

.totals * {
  line-height: 1;
}

.totals > * + * {

}

.totals__subtotal-value {
  font-size: 1.8rem;
  font-size: 20px;
  font-family: HelveticaNeueBold;
  font-weight: 400;
  font-style: normal;
  color: #000;
  line-height: 17px;
  letter-spacing: -.03vw;
  width: max-content;
  right: -3.5vw;
  position: relative;
}



@media all and (min-width: 750px) {
  .totals {
    justify-content: flex-end;
    font-size: 28px;
    font-family: HelveticaNeueBold;
    font-weight: 400;
    font-style: normal;
    color: #000;
    line-height: 17px;
    letter-spacing: -.03vw;
  }
}
